<html>
    <body>
        <form action="/users" method="post">
            <div>
                <input type="text" id="email" name="Email" placeholder="Email" />
            </div>
            <div>
                <input type="password" id="password" name="Password" placeholder="Senha" />
            </div>
            <div>
                <input type="submit" value="Salvar" />
            </div>
        </form>
    </body>
</html>